body{
    background-image: url(az3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1900px 1700px;
}
.header{
    background-color: rgb(182, 27, 22);
    padding:  50px 50px;
}
.content{
    background-color: rgb(255, 255, 255);
    
}
.footer{
    background-color: rgb(182, 41, 41);
    
}
.button{
    padding: 20px 10px;
}
.






















    

    


    
